/* Landing Section */
#landing-section {
    height: 100vh;
}

.container-setting {
    display: flex;
    justify-content: center;
}

.container-setting > h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
}

#spacing-container {
    padding: 8rem 0 0 0;
}

/* Bitcoin Card Part(Start) */
/*
If you want just only Bitcoin card on website,
Just copy code below. Out fron this part are
just setting for the page only.
 */
/* Global classes */
.bitcoin-card-container {
    background: #293145;
    width: 30%;
    padding: 8rem 0;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .6);
    color: white;
    position: relative;
    overflow: hidden;
}

.bitcoin-card-flex-left-to-right {
    display: flex;
    flex-direction: flex-start;
}

.bitcoin-card-flex-center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bitcoin-icon-color {
    color: #f2a900;
}

.bitcoin-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.4rem;
}

.bitcoin-absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bitcoin-absolute-element {
    position: absolute;
}

.bitcoin-center-element {
    text-align: center;
}

.bitcoin-sub-header-text {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bitcoin-logo-style {
    width: 18%;
}

.bitcoin-underline {
    border-bottom: 2px solid white;
    margin: 1px 0 0 0;
}

.bitcoin-text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, .6);
}
/* Front-Side*/
#front-side-element-container-1 {
    top: 25%;
    left: 22%;
    transform: translate(-42%, -50%);
}

#front-side-element-container-1 i {
    font-size: 5rem;
}

#front-side-element-container-2 {
    top: 20%;
    left: 88%;
}

#front-side-element-container-2 i {
    font-size: 1.2rem;
    width: 20%;
}

#bitcoin-qr-code-style {
    width: 50%;
    margin: 8px 0 0 0;
}

#front-side-element-container-3 {
    top: 50%;
    left: 50%;
    transform: translate(25%, -26%);
}

#front-side-element-container-4 {
    top: 64%;
    left: 38%;
    line-height: 2rem;
}

#front-side-element-container-5 {
    top: 90%;
    left: 50%;
}

#front-side-element-container-6 {
    top: 10%;
    left: 50%;
}

#front-side-element-container-7 {
    top: 45%;
    left: 50%;
}
/* Back-Side*/
#back-side-bitcoin-logo {
    width: 30%;
}

#back-side-element-container-1 {
    transform: translate(-124%, -106%);
}

#back-side-element-container-2 {
    width: 96%;
    font-weight: 700;
    letter-spacing: 1px;
    transform: translate(-48%, 122%);
}

#back-side-element-container-3 {
    transform: translate(66%, -52%);
    line-height: 2rem;
}
/*  Bitcoin Card Part(End) */

/* Experiment */
.test {
    border: 2px solid #f2a900;
    transform: rotate(-45deg);
    width: 100%;
}

.decorate-line-position-1 {
    top: -186%;
    left: 44%;
}

.decorate-line-position-2 {
    top: 270%;
    left: -44%;
}

#back-side-decorate-position-1 {
    transform: translate(-100%, -2%);
}

#back-side-decorate-position-2 {
    transform: translate(-10%, -100%);
}